.book {
        display: flex;
        gap: 1rem;
        background: var(--card-background-color);
        padding: 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        align-items: center;
      }

      .book img {
        height: 120px;
        border-radius: 4px;
      }

      .info {
        flex: 1;
      }

      .add-book-container {
        text-align: right;
        margin-bottom: 2rem;
      }

      .add-book-button {
        background-color: var(--primary);
        color: white;
      }

      .add-book-button:hover {
        background-color: var(--primary-hover);
      }

      form {
        display: inline;
        margin-right: 0.5rem;
      }